.container-create-note {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 89.9vh;
  min-width: 100vw;
}

.create-note {
  transform: translateY(100px);
}

.form-note {
  background-color: #15172b;
}

.create-note__title {
  font-size: 30px;
  font-weight: 600;
  color: #ecf4ed;
  margin-bottom: 20px;
}

.create-note__btn {
  background-color: #fa6c6c;
  color: whitesmoke;
  transition: all 0.4s 0s ease;
  -webkit-transition: all 0.4s 0s ease;
  border-radius: 20px;
  width: 130px;
  margin-top: 5px;
}

.create-note__btn:active {
  background-color: #fc5464;
  outline: none;
  box-shadow: none;
}

.create-note__btn:hover {
  color: whitesmoke;
}

@media (max-width:434px) {
  .create-note__title {
    font-size: 25px;
  }
}

@media (max-width:393px) {
  .create-note__title {
    font-size: 20px;
  }
}

@media (max-width:770px) {
  .create-note {
    margin: 0 20px;
  }
}