.container-note-list {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 89.9vh;
  min-width: 90vw;
}

.search-note {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  margin: 0 20px;
}

.notes-list_list {
  margin-right: auto;
}

.notes-list__header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.747);
  margin-bottom: 30px;
  transform: translateY(30px);
}

.note-list__title {
  font-weight: bold;
  font-size: 20px;
}

.card-header {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.asterisk-icon {
  margin-right: 5px;
  font-size: 10px;
}

.scale-up-center {
  transition: all .2s ease-in-out;
  border: none;
}

.info-card {
  color: #2324a2;
  font-weight: 600;
}

.note-list__notes {
  margin-left: 50px;
}

.scale-up-center:hover {
  transform: scale(1.1);
}

.icon-trash {
  color: crimson;
  grid-column: s-s/s-e;
}

.icon-edit {
  color: crimson;
  grid-column: t-s/t-e;
}

.card-foot {
  display: grid;
  justify-self: end;
  align-self: end;
  grid-template-columns: [f-s] 1fr [f-e s-s] 20px [s-e t-s] 20px [t-e];
}